{% extends 'blog/baseadmin.html'%}
{% block content %}
<div class="row" >
<form class="" action={% url 'add_post' %} method="post">

  {% csrf_token %}

  <div id="comments" class="comments-area">
                                  <div id="respond" class="comment-respond">
                                      <h2 id="reply-title" class="comment-reply-title mt-5 mb-5">Leave a Reply</h2>
                                      <form action="#" method="post" class="comment-form">
                                        {{ form.media }}
                                          {{ form }}
                                              <div class="col-md-12">
                                                  <div class="form-group from-submit">
                                                      <button type="submit" class="btn btn-primary mb-2">submit</button>
                                                  </div>
                                              </div>
                                          </div>
                                      </form>
                                  </div>
                              </div>


</form>
</div>
{% endblock %}
